/*
 * Open Layers
 */
div.olControlAttribution, div.olControlScaleLine 
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	bottom: 4px;
	right: 4px;
}

div.olMapViewport
{
	position: relative;
	z-index: 0;
}

#mapview
{
	width: 100%; 
	height: 600px; 
	border: 1px solid #0076B8;
}
