<!DOCTYPE HTML>
<html lang="en" ng-app="peripheralsApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>macchina.io - Peripherals</title>
    <link rel="stylesheet" href="/css/fonts.css" type="text/css"/>
    <link rel="stylesheet" href="/css/macchina.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/macchina/peripherals/css/styles.css" type="text/css"/>
    <link rel="icon" href="/images/favicon.ico">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/macchina/peripherals/js/app.js"></script>
    <script type="text/javascript" src="/macchina/peripherals/js/controllers.js"></script>
    <script type="text/javascript" src="/macchina/peripherals/js/webevent.js"></script>
  </head>
  <body ng-controller="SessionCtrl">
    <header>
      <div class="headercontainer">
        <div class="header">
          <h1>
            <a href="/"><img src="/images/headerlogo.png" srcset="/images/headerlogo-x2.png 2x" alt="macchina.io">EDGE</a>&gt; Peripherals
          </h1>
        </div>
      </div>
    </header>
    <div class="contentcontainer" ng-controller="PeripheralsCtrl">
      <div class="content">
        <nav>
          <div class="usernav">
            <div class="navigation">
              <ul>
                <li>
                  <i class="fa fa-search"></i> <form class="search"><input type="text" placeholder="Search" ng-model="search" size="30" maxLength="200" autofocus></form>
                </li>
                <li ng-if="status === ''">
                  <i class="fa fa-refresh"></i> <a ng-click="refresh()">Refresh</a>
                </li>
                <li ng-if="status !== ''">
                  <i class="fa fa-refresh fa-spin"></i> <span style="margin-left: 4px">{{status}}</span>
                </li>
              </ul>
            </div>
            <div class="username">
              <i class="fa fa-user"></i>
              &nbsp;
              {{session.username}}
              &nbsp;
              <a id="logoutLink" href="#" onclick="document.logout.submit()">Sign out</a>
           </div>
           <form method="post" name="logout" action="/">
             <input type="hidden" name="action" value="logout">
           </form>
           <div style="clear: both;"></div>
         </div>
        </nav>
        <div class="groupbox">
          <div ng-if="peripherals.length == 0">No peripherals found.</div>
          <table class="list" style="width: 100%" ng-if="peripherals.length > 0">
            <thead>
              <tr>
                <th ng-click="setOrderBy('name')" class="list-sortable">Name</th>
                <th ng-click="setOrderBy('address')" class="list-sortable">Address</th>
                <th ng-click="setOrderBy('addressType')" class="list-sortable">Address Type</th>
                <th ng-click="setOrderBy('rssi')" class="list-sortable">RSSI</th>
                <th ng-click="setOrderBy('connectable')" class="list-sortable">Connectable</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="peripheral in peripherals | filter:search | orderBy:orderBy track by $index" ng-class-even="'even'" ng-class-odd="'odd'">
                <td><b><i ng-if="peripheral.name === ''">unknown</i>{{peripheral.name}}</b></td>
                <td>{{peripheral.address}}</td>
                <td>{{addressType(peripheral.addressType)}}</td>
                <td>{{peripheral.rssi}} dBm</td>
                <td>{{peripheral.connectable}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
