.modalBackground
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 40;
	background-color: rgba(100, 100, 100, 0.4);
	display: none;
}

.popupWindow
{
	background-color: #f8f8f8;
	border: 2px solid #999999;
	cursor: default;
	display: none;
	margin-top: 15px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 50;
	padding: 25px 25px 20px;
	left: 50%;
	top: 100px;
	margin-left: -200px;
}

.popupWindow h1
{
	color: #111;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 16px;
	line-height: 24px;
}
