<!DOCTYPE HTML>
<html lang="en" ng-app="bundlesApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>macchina.io Bundles</title>
    <link rel="stylesheet" href="/css/macchina.css" type="text/css"/>
    <link rel="icon" href="/images/favicon.ico">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="/macchina/bundles/js/app.js"></script>
    <script type="text/javascript" src="/macchina/bundles/js/services.js"></script>
    <script type="text/javascript" src="/macchina/bundles/js/controllers.js"></script>
  </head>
  <body ng-controller="SessionCtrl">
    <header>
      <div class="headercontainer">
        <div class="header">
          <h1>
          <a href="/"><img src="/images/macchina_logo_small.png" alt="macchina.io"></a>&nbsp;&gt;&nbsp;Bundles
          </h1>
        </div>
      </div>
    </header>
    <div class="contentcontainer">
      <div class="content" ng-controller="PageCtrl">
        <nav>
          <div class="usernav">
            <div class="navigation">
              <span ng-show="!isActive('/bundles')">
                &lt;&lt; <a href="#/bundles">Bundles</a>
              </span>
              <span ng-show="!isActive('/bundles') && allowedBundleActions.start">
                &nbsp;&nbsp;| &nbsp;&nbsp;
                <a ng-click="startBundle()">Start</a>
              </span>
              <span ng-show="!isActive('/bundles') && allowedBundleActions.stop">
                &nbsp;&nbsp;| &nbsp;&nbsp;
                <a ng-click="stopBundle()">Stop</a>
              </span>
              <span ng-show="!isActive('/bundles') && allowedBundleActions.resolve">
                &nbsp;&nbsp;| &nbsp;&nbsp;
                <a ng-click="resolveBundle()">Resolve</a>
              </span>
              <span ng-show="!isActive('/bundles') && allowedBundleActions.uninstall">
                &nbsp;&nbsp;| &nbsp;&nbsp;
                <a ng-click="stopBundle()">Uninstall</a>
              </span>
            </div>
            <div class="username">
              <img id="userIcon" src="/images/user.png" alt="Account">
              &nbsp;
              {{session.username}}
              &nbsp;
              <a id="logoutLink" href="#" onclick="document.logout.submit()">Sign out</a>
           </div>
           <form method="post" name="logout" action="/">
             <input type="hidden" name="action" value="logout">
           </form>
           <div style="clear: both;"></div>
         </div>
        </nav>
        <div ng-view></div>
      </div>
    </div>
  </body>
</html>
