<!DOCTYPE HTML>
<html lang="en" ng-app="bundlesApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>macchina.io - Bundles</title>
    <link rel="stylesheet" href="/css/macchina.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <link rel="icon" href="/images/favicon.ico">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="/macchina/bundles/js/app.js"></script>
    <script type="text/javascript" src="/macchina/bundles/js/services.js"></script>
    <script type="text/javascript" src="/macchina/bundles/js/controllers.js"></script>
  </head>
  <body ng-controller="SessionCtrl">
    <header>
      <div class="headercontainer">
        <div class="header">
          <h1>
          <a href="/"><img src="/images/headerlogo.png" alt="macchina.io"></a>Bundles
          </h1>
        </div>
      </div>
    </header>
    <div class="contentcontainer">
      <div class="content" ng-controller="PageCtrl">
        <nav>
          <div class="usernav">
            <div class="navigation">
              <ul>
                <li ng-show="isActive('/bundles')">
                  <i class="fa fa-upload"></i></i> <a href="#/install">Install</a>
                </li>
                <li ng-show="!isActive('/bundles')" class="backlink">
                  <i class="fa fa-chevron-circle-left"></i> <a href="#/bundles">Bundles</a>
                </li>
                <li ng-show="!isActive('/bundles') && allowedBundleActions.start">
                  <i class="fa fa-play"></i> <a ng-click="startBundle()">Start</a>
                </li>
                <li ng-show="!isActive('/bundles') && allowedBundleActions.stop">
                  <i class="fa fa-stop"></i> <a ng-click="stopBundle()">Stop</a>
                </li>
                <li ng-show="!isActive('/bundles') && allowedBundleActions.resolve">
                  <i class="fa fa-check-square"></i> <a ng-click="resolveBundle()">Resolve</a>
                </li>
                <li ng-show="!isActive('/bundles') && allowedBundleActions.uninstall">
                  <i class="fa fa-trash"></i> <a ng-click="uninstallBundle()">Uninstall</a>
                </li>
              </ul>
            </div>
            <div class="username">
              <i class="fa fa-user"></i>
              &nbsp;
              {{session.username}}
              &nbsp;
              <a id="logoutLink" href="#" onclick="document.logout.submit()">Sign out</a>
           </div>
           <form method="post" name="logout" action="/">
             <input type="hidden" name="action" value="logout">
           </form>
           <div style="clear: both;"></div>
         </div>
        </nav>
        <div ng-view></div>
      </div>
    </div>
  </body>
</html>
